<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appsettings>
    <add key="AWSProfileName" value="AWS Default">
    </add>
  </appsettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISMTPService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:16367/SMTPService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ISMTPService" contract="EmailServiceReference.ISMTPService"
                name="BasicHttpBinding_ISMTPService" />
        </client>
    </system.serviceModel>
</configuration>