<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --><!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-XCars-20171113015341.mdf;Initial Catalog=aspnet-XCars-20171113015341;Integrated Security=True" providerName="System.Data.SqlClient" />-->

    <!-- LOCAL DB -->

    <add name="XCarsIdentity" connectionString="Data Source=localhost;Initial Catalog=XCars;User Id=sa;Password=web@1234;" providerName="System.Data.SqlClient" />
    <add name="XCarsEntities" connectionString="metadata=res://*/DbModel.csdl|res://*/DbModel.ssdl|res://*/DbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=XCars;User Id=sa;Password=web@1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    
    <!-- REAL DB -->
    <!--
    <add name="XCarsIdentity" connectionString="Data Source=em.c376rlrozuvv.us-east-1.rds.amazonaws.com;Initial Catalog=XCars;User Id=root;Password=Pass12345;" providerName="System.Data.SqlClient" />
    <add name="XCarsEntities" connectionString="metadata=res://*/DbModel.csdl|res://*/DbModel.ssdl|res://*/DbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=em.c376rlrozuvv.us-east-1.rds.amazonaws.com;initial catalog=XCars;User Id=root;Password=Pass12345;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    -->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="AWSProfileName" value="AWS Default" />

    <!-- SMTP -->
    <!--<add key="SMTPhost" value="smtp.mandrillapp.com" />
    <add key="SMTPhostPort" value="587" />
    <add key="SMTPhostUsername" value="home" />
    <add key="SMTPhostPassword" value="Psw2ytTlFP6pzJ2xqkUIrw" />
    <add key="SMTPhostFromAddress" value="local@quadevs.com" />
    <add key="SMTPhostFromDisplayName" value="XCars" />-->
    <add key="SMTPhostFromDisplayName" value="noreply@emcar.com.ua" />
    <!-- /SMTP -->

    <!-- Amazon -->
    <add key="BucketEndpoint" value="https://s3.amazonaws.com/" />
    <add key="BucketName" value="emcar.quadevs.bucket" />
    <add key="BucketAccessKeyID" value="AKIAI3XUWTTJFSAWEARQ" />
    <add key="BucketSecretAccessKey" value="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" />
    <add key="UserPhotosTempUrl" value="userphotos/tmp/" />
    <add key="UserPhotosUploadUrl" value="userphotos/uploads/" />
    <add key="AutoPhotosTempUrl" value="autophotos/tmp/" />
    <add key="AutoPhotosUploadUrl" value="autophotos/uploads/" />
    <add key="AuctionPhotosTempUrl" value="auctionphotos/tmp/" />
    <add key="AuctionPhotosUploadUrl" value="auctionphotos/uploads/" />
    <!-- /Amazon -->

    <add key="AmazonESDomenEndpoint" value="https://search-emcar-dev-5t7qzercoxxagfd2rnewottzwa.us-east-1.es.amazonaws.com" />
    <!-- index for autos -->
    <!--<add key="AmazonESDomenIndex" value="emcar" />-->
    <add key="AmazonESDomenIndex" value="emcarlocal" />
    <add key="AmazonESDomenIndexMapping" value="auto" />

    <!-- index for auctions -->
    <!--<add key="AmazonESDomenIndexAuction" value="emcarauction" />-->
    <add key="AmazonESDomenIndexAuction" value="emcarauctionlocal" />
    <add key="AmazonESDomenIndexMappingAuction" value="auction" />
    
    <add key="AmazonESDomenIndexBulkUpdateMaxLength" value="2" />
    <add key="ElasticSearchDateFormat" value="yyyy-MM-dd HH:mm:ss" />

    <add key="AllowUnauthenticatedUserToEnterAuction" value="true" />
    <add key="AuctionEnterPrice" value="50" />
    <add key="XMinutesRemaingToAuctionDeadline" value="15" />
    <add key="XHoursRemaingToDraftAuctionDeletion" value="6" />
    <add key="AutoNoPhotoUrl" value="autophotos/origin/nophoto.jpg" />
    <add key="AutoNoPhotoName" value="autonophoto" />
    <add key="ImageSourceType" value="data:image/jpeg;base64," />
    <add key="UserNoPhotoUrl" value="userphotos/origin/nophoto.jpg" />
    <add key="UserNoPhotoName" value="usernophoto" />
    <add key="ClearGif" value="/Content/images/clear.gif" />

    <add key="XMinutesAuctionFinishEmailEligiblePeriod" value="10" />
    <add key="XMinutesRemainingAuctionFinishEmailEligiblePeriod" value="10" />
    <add key="XMinutesAutoFinishEmailEligiblePeriod" value="10" />

    <add key="RecommendedPriceRates" value="0-2999|20;3000-4999|18;5000-9999|15;10000-14999|13;15000-19999|11;20000-0|10" />

    <add key="AutoPublishTopMin" value="0" />
    <add key="AutoPublishTopMax" value="750" />
    <add key="AutoPublishDaysMin" value="1" />
    <add key="AutoPublishDaysMax" value="90" />
    <add key="AutoPublishOncePayedCost" value="50" />
    <add key="AutoPublishTopDefault" value="40" />
    <add key="AutoPublishDaysDefault" value="20" />

    <add key="YearMin" value="1950" />

    <add key="AutoEngineCapacityMin" value="1,00" />
    <add key="AutoEngineCapacityMax" value="3,00" />
    <add key="AutoEngineCapacityStep" value="0,2" />

    <add key="AutoFuelConsumptionMin" value="5,00" />
    <add key="AutoFuelConsumptionMax" value="20,00" />
    <add key="AutoFuelConsumptionStep" value="0,1" />

    <add key="AutoPowerMin" value="50" />
    <add key="AutoPowerMax" value="300" />
    <add key="AutoPowerStep" value="1" />

    <add key="LMI_MERCHANT_ID" value="4834" />
    <add key="LMI_MODE" value="0" />
    <add key="LMI_secretKey" value="123456" />

    <add key="AutoPublishSuccessUrl" value="/MyAuto" />
    <add key="AutoPublishPaymentFailUrl" value="/" />

    <add key="PriceFormat" value="### ### ### ### ###" />

    <add key="AutoDescriptionMaxLength" value="2000" />

    <add key="PhotoExtension" value=".jpg" />

	  <add key="AWSAccessKey" value=""/>
    <add key="AWSSecretKey" value=""/>
    <add key="AWSFromAddress" value="noreply@emcar.com.ua" />

    <add key="CountOfAuctionBidsToDisplay" value="5" />

    <add key="GoogleMapsDefaultPositionLat" value="50.4501" />
    <add key="GoogleMapsDefaultPositionLng" value="30.523400000000038" />
    
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime targetFramework="4.6" />
  </system.web>
  <system.webServer>
    <httpErrors errorMode="Custom" existingResponse="Replace">
      <clear/>
      <remove statusCode="404"/>
      <remove statusCode="403"/>
      <error statusCode="404" path="/Error/NotFound" responseMode="ExecuteURL"/>
      <error statusCode="403" path="/Error/Forbidden" responseMode="ExecuteURL"/>
    </httpErrors>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.6.2.0" newVersion="4.6.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.2.0" newVersion="2.2.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
<system.serviceModel>
        <bindings>
                <basicHttpBinding>
                        <binding name="BasicHttpBinding_ISMTPService" />
                        <binding name="BasicHttpBinding_ITimerService" />
                </basicHttpBinding>
        </bindings>
        <client>
                <endpoint address="http://localhost:16367/SMTPService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISMTPService" contract="EmailServiceReference.ISMTPService" name="BasicHttpBinding_ISMTPService" />
                <endpoint address="http://localhost:61179/TimerService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITimerService" contract="TimerService.ITimerService" name="BasicHttpBinding_ITimerService" />
        </client>
    </system.serviceModel>
</configuration>