<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISMTPService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:16367/SMTPService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISMTPService" contract="EmailServiceReference.ISMTPService" name="BasicHttpBinding_ISMTPService" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>